body {
  background-color: white;
}
#main {
  display: flex;
  flex-direction: column;
}
#gallery {
  width: auto;
  height: 100%;
  float:left;
}
#product {
  width: auto;
  float:right;
}
#reviews-overview {
  margin-top: 200px;
}
